<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="currentMotivation" class="motivationService.impl.RandomMotivationService"></bean>
    <bean id="currentDiet" class="dietService.impl.VegetableDietService"></bean>
    <bean id="currentCoach" class="coach.impl.TrackCoach" scope="prototype"> 
    	<constructor-arg name="motivationService" ref="currentMotivation"></constructor-arg>
   		<property name="dietService" ref="currentDiet"></property>
   	</bean>
   	
   	<bean id="secondCoach" class="coach.impl.FootballCoach" init-method="init" destroy-method="destroy"> 
    	<constructor-arg name="motivationService" ref="currentMotivation"></constructor-arg>
   		<property name="dietService" ref="currentDiet"></property>
   	</bean>
</beans>





